# Git e Controle de Versão
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*~

# Python Cache
__pycache__/
*.pyc
*.pyo
.mypy_cache/

# Testes e Coverage
.pytest_cache/
tests/

# Ambientes Virtuais
.venv
venv

# Arquivos de Configuração Local
.env
.env.local

# Bancos de Dados e Logs
database.db
*.log
logs/

# Documentação
README.md
LICENSE

# Outros
.DS_Store
*.bak